<h1>New Article</h1>
<% for_with model: @article do |form| %>
<div>
  <%= form.label :title %><br>
  <%= from.text_field :title %>
</div>
<div>
  <%= form.label :body %><br>
  <%= from.text_area :body %>
</div>
<div>
  <%= form.submit %>
</div>
<% end %>
